#exapmle of .env, change values to your own.

# Database Credentials
POSTGRES_USER=my_db_user
POSTGRES_PASSWORD=my_db_password
POSTGRES_DB=my_database

# Database Connection
DATABASE_URL=postgresql+asyncpg://my_db_user:my_db_password@db:5432/my_database

# Connection Pool Settings
POOL_SIZE=10
MAX_OVERFLOW=10
POOL_TIMEOUT=30

# Security / Auth
ACCESS_SECRET_KEY=your_64_character_secret_key_here
REFRESH_SECRET_KEY=your_64_character_secret_key_here
ALGORITHM=HS256

# Production/development env for api-docs and cookies secure setting in production
ENV=development

# Test database connection
POSTGRES_TEST_DB=test_db_name
POSTGRES_TEST_USER=test_db_user
POSTGRES_TEST_PASSWORD=test_password
TEST_DATABASE_URL=postgresql+asyncpg://test_db_user:test_password@localhost:5433/test_db_name

#CORS origins
CORS_ORIGINS=["http://localhost", "http://localhost:8000"]

#Redis connection
REDIS_PASSWORD=your_redis_password
REDIS_URL=redis://:your_redis_password@redis:6379/0

#Account registration verification with Brevo email sending
SMTP_KEY="your_long_smtp_brevo_key"
SMTP_LOGIN="your_brevo_account_email"
EMAIL_SENDER="your_account_to_send_emails"
SMTP_PORT=587
SMTP_SERVER=""smtp-relay.brevo.com""